In [4]:
print ('please submit marks of Shahzaib , out of 50')
a= int(input('english marks'))
print ('marks of english ',a)
b= int(input('physics marks'))
print ('marks of physics ',b)
c= int(input('maths marks'))
print ('marks of maths ',c)
d= int(input('bio marks'))
print ('marks of bio ',d)
e= int(input('chemistry marks'))
print ('marks of chemistry ',e)
total = a+b+c+d+e
if (total <=30):
    print ('fail')
elif (total >30 or total <=35):
    print ('GRADE C')
elif (total >35 or total <=40):
    print ('GRADE B')
elif (total >40 or total <=45):
    print ('GRADE A')
elif (total >45 or total <=50):
    print ('GRADE A1')
print ('total amrks of five subjetcs out of 250 are ', total)

please submit marks of Shahzaib , out of 50
english marks45
marks of english  45
physics marks45
marks of physics  45
maths marks34
marks of maths  34
bio marks36
marks of bio  36
chemistry marks46
marks of chemistry  46
GRADE C
total amrks of five subjetcs out of 250 are  206

In [6]:
a = int(input('enter the number to check either even or odd '))
if (a%2==0):
    print ('number is even')
else :
    print ('number is odd')

enter the number to check either even or odd432
number is even

In [14]:
li=[22,32,45,32,12,32]
print (len(li))

6

In [16]:
li=[22,32,45,32,12,32]
print (sum(li))

175

In [24]:
li=[22,32,45,32,12,32]
li.sort()
print ('largest number from the list is ',li[5])

largest number from the list is  45

In [28]:
list=[1 ,1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for num in list:
    if(int(num) <5):
        print(str(num)+"\n")

1

1

2

3